#   Copyright 2020 The KNIX Authors
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# Default values for MicroFunctions.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

#------------------------------------------------------------------------------
# MicroFunction management workflow
#------------------------------------------------------------------------------
imageRepo: "registry.kube-system.svc.cluster.local"
manager:
  #httpProxy: "http://<host>:<port>"
  #httpsProxy: "http://<host>:<port>"
  #httpGatewayPort: 80
  #httpsGatewayPort: 443
  nameOverride: "microfunctions"
  newWorkflow:
    hpa:
      targetCPUUtilizationPercentage: 80
      minReplicas: 1
      maxReplicas: 1
  setup:
    imagePath: "/microfn/management"
    imageTag: "latest"
    imagePullPolicy: "Always"
    initialDelaySeconds: 60
    resources:
      limits:
        cpu: 200m
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 1Gi
  sandbox:
    imagePathPython: "/microfn/sandbox"
    imagePathJava: "/microfn/sandbox_java"
    imageTag: "latest"
    imagePullPolicy: "Always"
    resources:
      limits:
        cpu: 1
        memory: 2Gi
      requests:
        cpu: 1
        memory: 1Gi
  createServiceAccounts: true

#------------------------------------------------------------------------------
# MicroFunction Datalayer
#------------------------------------------------------------------------------
datalayer:
  replicas: 3
  imagePath: "/microfn/datalayer"
  imageTag: "latest"
  imagePullPolicy: "Always"
  port: 4998
  initialDelaySeconds: 0
  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 200Mi

#------------------------------------------------------------------------------
# Riak global data storage
#------------------------------------------------------------------------------
riak:
  replicas: 3
  imagePath: "/microfn/riak"
  imageTag: "latest"
  imagePullPolicy: "Always"
  nameOverride: "microfunctions-riak"
  ClientPortHttp: 8098
  ClientPortProtobuf: 8087
  resources:
    limits:
      cpu: 4
      memory: 8Gi
    requests:
      cpu: 4
      memory: 8Gi
  DataStorage: 8Gi
  ClusterName: "riak"
  WaitForErlang: 180
  ErlangDistributionPortRangeMinimum: 6000
  ErlangDistributionPortRangeMaximum: 6999
  LogConsoleLevel: "debug"
  StorageBackend: "leveldb"
  LevelDbMaximumMemory: 4294967296
  AntiEntropy: "passive"
  # Should be <= resources.limits.cpu
  ErlangSchedulersTotal: 4
  ErlangSchedulersOnline: 4
  ErlangSchedulersForceWakeupInterval: 500
  ErlangSchedulersCompactionOfLoad: "false"

#------------------------------------------------------------------------------
# ElasticSearch for all components and MicroFunction logs
#------------------------------------------------------------------------------
elastic:
  imageRepo: "docker.elastic.co"
  imagePath: "/elasticsearch/elasticsearch-oss"
  imageTag: "7.3.2"
  clientPort: 9200
  masterPort: 9300
  resources:
    limits:
      cpu: 500m
      memory: 2Gi
    requests:
      cpu: 100m
      memory: 2Gi

#------------------------------------------------------------------------------
# Nginx with MicroFunctions web GUI and Storage API
#------------------------------------------------------------------------------
nginx:
  Replicas: 1
  nameOverride: "microfunctions-nginx"
  # Knative Serving creates an FQDN for the management kservice "wf-{{ .Release.Name }}-management".
  # In most installations, it would be {ksvc}.{namespace}.example.com
  # Please use --set nginx.managementService to specify the FQDN that the service will get from your Knative setup
  # _helpers.tpl would default it to wf-mfn1-management.knix.example.com
  #managementService: wf-mfn1-management.knix.example.com
  frontendImagePath: "/microfn/frontend"
  frontendImageTag: "latest"
  imagePath: "/microfn/nginx"
  imageTag: "latest"
  httpPort: 32180
  location: "/"
# If httpsPort is defined, the Base64 encoded certificate authority, certificate and key are required to serve securely from the Pod
#  httpsPort: 32443
#  httpsCa: <base64-encoded certificate authority cert>
#  httpsCert: <base64-encoded cert>
#  httpsKey: <base64-encoded key>
  imagePullPolicy: "Always"
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 1Gi
  frontendResources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 1Gi
